.footer {
  background-color: #044370;
  color: #e4dededc;
}
.fab:hover {
  color: rgb(250, 188, 56);
  cursor: pointer;
}
.quickNav {
  list-style: none;
  transition: 0.3s;
}
.quickNav {
  text-decoration: none;
}
.menu-item {
  color: rgb(238, 235, 235);
  text-decoration: none;
  line-height: 2.5rem;
}
.menu-item:hover {
  color: rgb(250, 188, 56);
  font-weight: 700;
}
.footer-end {
  background-color: #0c3657;
}
